.form {
    padding: 62px 62px 125px;
}

.form .container {
    background-color: #fff;
}

.form .wrapper {
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
    padding: 72px 0 68px;
}

.form__title {
    color: #018FDE;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 51px;
}

.form__title span {
    color: #121212;
}

.form .wrapButton {
    margin: 8px auto;
    width: 211px;
}

@media screen and (max-width: 768px) {
    .form {
        padding: 35px 70px 93px;
    }

    .form .wrapper {
        width: 500px;
        padding: 35px 0 40px;
    }

    .form__title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 31px;
    }

    .PhoneInput {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .form .row > div:first-child {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 575px) {
    .form {
        padding: 50px 25px 57px;
    }

    .form .wrapper {
        padding: 25px 0 20px;
    }

    .form__title {
        font-size: 24px;
        margin-bottom: 18px;
    }

    .form .row > div:first-child {
        margin-bottom: 9px;
    }

    .form .wrapButton {
        width: 240px;
    }
}
